.footer-page {
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;

    &__container {
        flex-direction: column;
    @include flex;}
}

.footer-page__title {

    font-weight: 700;
    @include text-size(14px, 22px);
    text-transform: uppercase;
    color: #FEFEFE;
    margin-top: 0;
    margin-bottom: 8px;

    @media (min-width: 773px) {
   font-size: 16px;
    }
}

.footer-page__description {
    max-width: 685px;
    @include text-size(12px, 20px);
    color: $footer-text-color;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    @media (min-width: 768px) {

      @include text-size(16px, 28px);
         }
}

.social-list {
    @include list-reset ;
    @include flex ;
    gap: 5px;
    margin-top: 0;
    margin-bottom: 25px;
}

.social-list__img {
    display: block;
    max-height: 34px;
}

.contacts {
    @include list-reset ;
    @include flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__link {
   @include text-size(14px, 24px);
    color: $footer-text-color;

    @media (min-width: 773px) {
        font-size: 16px;
         }
}