.body-page {
    font-family: $main-font;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}