.header-page {
    margin-top: 25px;
    min-height: 60px;
}
.header-page__navbar {
    position: relative;

}

.header-page__menu{
    @include list-reset;
    margin-bottom: 0;
    background-color: #F5F5F5;
    min-width: 183px;

    position: absolute;
    top: 37px;
    right: 0;
    display: none;
    z-index: 5;
    
     &--active {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
          gap: 6px;
    }

    @media (min-width: 768px) {
        position: static;
      @include flex;
        gap: 35px;
        background-color: transparent;
    }

    @media (min-width: 940px) {
        gap: 65px;

    }
}

.header-page__link {
    @include text-size(11px, 22px);
    text-transform: uppercase;
    color: $titles-color;
}

.header-page__list {
    padding-left: 13px ;
    &:hover {
        background-color: #E5E5E5;
    }
    @media (min-width: 678px) {
        &:hover {
            background-color: transparent;
        }
    }
}

.header-page__link--active {
    color: $titeles-active-color;
}

.burger-icon{
    background-color: #000;
    width: 44px;
    height: 37px;
	position: absolute;
    right: 0;
    top: 0;
    z-index: 6;
    @media (min-width: 768px) {
        display: none;
    }
}

.burger-icon__line {
    width: 17px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
    transition: 0.2s linear;

    &:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    &:nth-of-type(3) {
        top: calc(50% + 5px);
    }
}

.burger-icon__line--active {

    &:nth-of-type(1) {
        display: none;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }
}