
.intro__main-img {
    @include  flex;
    width: 100%;
    object-fit: cover;
}

// ------------------------------------------------------------------------Posts------------------------------------------------------------------------
.posts {
    padding-top: 45px;
    padding-bottom: 45px;

&__title {
    font-weight: 700;
    @include text-size(14px, 22px);
    text-transform: uppercase;
    color: $titles-color;
    margin-top: 0;
    margin-bottom: 25px;
    }
}

.posts__list {
    margin-top: 0;
    @include list-reset;
    @include flex (flex-start);
    flex-direction: column;
    gap: 27px;

    @media (min-width: 1000px) { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
}

.post__list--link {
    display: block;
    @media (min-width: 540px) {
        @include flex (flex-start);
        gap: 20px;
    }
}

.posts__list--item {
    &:nth-of-type(4) {
        display: none;
    }
    @media (min-width: 678px) {
        &:nth-of-type(4) {
            display: block;
        }
    }
}
.posts__list--img {
    display: block;
}

.post__list--info {
    max-width: 405px;
}

.posts__list--title {
    font-weight: 700;
    @include text-size(14px, 30px);
    color: $titles-color;
    margin-top: 10px;
    margin-bottom: 0;

    @media (min-width: 540px) {

        @include text-size(16px, 30px);
      }
}

.post__list--subtitle {

    @include text-size(11px, 20px);
    color: $subtitels-color;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: 540px) {

       @include text-size(12px, 20px);
      }
}

.post__list--description {
    margin-top: 13px;
    margin-bottom: 0;
    display: none;
   @include text-size(12px, 20px);
    color: $text-color;

    @media (min-width: 540px) {
        display: block
        }
    @media (min-width: 678px) {
        @include text-size(14px, 26px);
      }
}


//--------------------------------------------------------------- Instagram---------------------------------------------------------------

.instagram {
    padding-bottom: 40px;
}

.instagram__titles {
    display: flex;
    justify-content: space-between;
}
.instagram__title {
    font-weight: 700;
    @include text-size(14px, 22px);
    text-transform: uppercase;
    color: $titles-color;
    margin-top: 0;
    margin-bottom: 13px;

    &--plural {
        display: none;
    }
    @media (min-width: 540px) {
        display: none;
        &--plural {
            display: block;
        }
    }
}

.instagram__titeles--link {
    font-weight: 700;
    @include text-size(14px, 22px);
    text-transform: uppercase;
    color: $titles-color;
    margin-top: 0;
    margin-bottom: 13px;
    display: none;

    @media (min-width: 540px) {
            display: block;
        
    }
}

.instagram__pictures{
 @include flex;
   gap: 10px;

}

.instagram__img{
    display: none;

    &:nth-child(1) {
        display: block;
    }
    @media (min-width: 540px) {
        width: 249px ;
        height: auto;
        
        &:nth-child(2) {
            display: block;
        }

        @media (min-width: 768px) {
            width: 249px ;
            &:nth-child(3) {
                display: block;
            }
        }
        @media (min-width: 1130px) {
            min-width: 285px ;
            height: auto;

            &:nth-child(4) {
                display: block;
            }
        }
    }
}