$main-font: 'Roboto', sans-serif;
$titles-color: rgba(78, 78, 78, 1);
$titeles-active-color: #57A4A4;
$subtitels-color: rgba(124, 124, 124, 1);
$text-color: rgba(92, 92, 92, 1);
$footer-text-color: rgba(185, 185, 185, 1);


